#
####### requirements.txt #######
#
###### Requirements without Version Specifiers ######
numpy
torch
argparse
matplotlib
pandas
protfasta
#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
#
